# _____________________________________________________________________________
# Created By: Nguyen Huu Kim - Kimnh3
# Created Date: Mar 12, 2021 2:42pm GMT+0700
# Project: AkaOCR core
# _____________________________________________________________________________

# Define test jobs for pipeline in CI-CD
# _____________________________________________________________________________

stages:
  - test

.requires-trigger-building-image-commit-message:
  only:
    variables:
      - $CI_COMMIT_MESSAGE =~ /^Trigger build image/

.requires-trigger-training-commit-message:
  only:
    variables:
      - $CI_COMMIT_MESSAGE =~ /^Trigger train/

.requires-trigger-merge-commit-message:
  only:
    variables:
      - $CI_COMMIT_MESSAGE =~ /^Trigger merge/ #test before merge

test-model:
  extends:
    - .requires-trigger-merge-commit-message
  stage: test
  tags:
    - testocr
  script:
    #    - export CUDA_VISIBLE_DEVICES=1 #in case 1st gpu full (2 gpus)
    - conda activate akaocr #activate existed env; create a new env when use Docker
    - cd akaocr #cd to source
    - pip install -r requirements.txt #install for the 1st time only
    - pip install torch==1.8.0+cu111 torchvision==0.9.0+cu111 torchaudio===0.8.0 -f https://download.pytorch.org/whl/torch_stable.html
    - pip install anybadge
    - cd test
    - export exit_code=0 #success by default
    - export result=""
    - python models_test.py --config_recog "../data/attention_resnet_base_v1.yaml"  || export exit_code=1
    - echo $exit_code
    - >
      if [ ${exit_code} -ne 0 ]; then
        export result="failed";
      else
        export result="passed";
      fi
    - echo $result
    - anybadge --label="test model" --value=${result} --file=badge_test_model.svg passed=green failed=red #create badge for job
    - >
      if [ ${exit_code} -ne 0 ]; then
        exit 1;
      fi
  artifacts:
    paths:
      - akaocr/test/test_model.svg #artifact, path as cd when the badge was created
    when: always #upload on both success and fail job
  allow_failure:
    exit_codes: 137 #a number !=1 to make the job failed if it actually fail

test-config:
  extends:
    - .requires-trigger-merge-commit-message
  stage: test
  tags:
    - testocr
  script:
    - conda activate akaocr
    - cd akaocr
    - cd test
    - export exit_code=0 #success by default
    - export result=""
    - python config_test.py || export exit_code=1
    - echo $exit_code
    - >
      if [ ${exit_code} -ne 0 ]; then
        export result="failed";
      else
        export result="passed";
      fi
    - echo $result
    - anybadge --label="test config" --value=${result} --file=badge_test_config.svg passed=green failed=red
    - >
      if [ ${exit_code} -ne 0 ]; then
        exit 1;
      fi
  artifacts:
    paths:
      - akaocr/test/test_config.svg
    when: always
  allow_failure:
    exit_codes: 137

test-dataloader:
  extends:
    - .requires-trigger-merge-commit-message
  stage: test
  tags:
    - testocr
  script:
    - conda activate akaocr
    - cd akaocr
    - cd test
    - export exit_code=0 #success by default
    - export result=""
    - python test_dataloader.py --data_recog /home/bacnv6/nghiann3/data/RECOG/ --data_detec /home/tanhv1/kleentext/akaocr/data/data_detec/train/ || export exit_code=1
    - echo $exit_code
    - >
      if [ ${exit_code} -ne 0 ]; then
        export result="failed";
      else
        export result="passed";
      fi
    - echo $result
    - anybadge --label="test dataloader" --value=${result} --file=badge_test_dataloader.svg passed=green failed=red
    - >
      if [ ${exit_code} -ne 0 ]; then
        exit 1;
      fi
  artifacts:
    paths:
      - akaocr/test/test_dataloader.svg
    when: always
  allow_failure:
    exit_codes: 137

test-eval:
  extends:
    - .requires-trigger-merge-commit-message
  stage: test
  tags:
    - testocr
  script:
    - conda activate akaocr
    - cd akaocr
    - cd test
    - export exit_code=0 #success by default
    - export result=""
    - python evaluation_test.py --w_detec /home/tanhv1/kleentext/akaocr/data/saved_models_detec/smz_detec/best_accuracy.pth --data_detec /home/tanhv1/kleentext/akaocr/data/data_detec/train/ST_Scene_ktex_50000/ --w_recog /home/bacnv6/nghiann3/ocr-old/data/saved_models_recog/test1/best_accuracy.pth --data_recog /home/bacnv6/nghiann3/data/RECOG/ || export exit_code=1
    - echo $exit_code
    - >
      if [ ${exit_code} -ne 0 ]; then
        export result="failed";
      else
        export result="passed";
      fi
    - echo $result
    - anybadge --label="test evaluation" --value=${result} --file=badge_test_evaluation.svg passed=green failed=red
    - >
      if [ ${exit_code} -ne 0 ]; then
        exit 1;
      fi
  artifacts:
    paths:
      - akaocr/test/test_evaluation.svg
    when: always
  allow_failure:
    exit_codes: 137

test-train-loop:
  extends:
    - .requires-trigger-merge-commit-message
  stage: test
  tags:
    - testocr
  script:
    - conda activate akaocr
    - cd akaocr
    - cd test
    - export exit_code=0 #success by default
    - export result=""
    - python train_loop_test.py --data_recog /home/bacnv6/nghiann3/data/RECOG/ --data_detec /home/tanhv1/kleentext/akaocr/data/data_detec/train/ --data_test_detec /home/tanhv1/kleentext/akaocr/data/data_detec/train/ST_Scene_ktex_50000/ || export exit_code=1
    - echo $exit_code
    - >
      if [ ${exit_code} -ne 0 ]; then
        export result="failed";
      else
        export result="passed";
      fi
    - echo $result
    - anybadge --label="test training loop" --value=${result} --file=badge_test_train_loop.svg passed=green failed=red
    - >
      if [ ${exit_code} -ne 0 ]; then
        exit 1;
      fi
  artifacts:
    paths:
      - akaocr/test/test_train_loop.svg
    when: always
  allow_failure:
    exit_codes: 137
