opencv-python==4.4.0.42
tqdm==4.43.0
h5py==2.10.0
imageio==2.8.0
imutils==0.5.3
lmdb==0.98
natsort==7.0.1
nltk==3.5
numpy==1.18.1
pandas==1.0.1
pdf2image==1.13.1
pillow==7.1.2
polygon3==3.0.8
pydot==1.4.1
scipy==1.4.1
scikit-image==0.16.2
tabulate==0.8.6
pytesseract==0.3.5
imagecorruptions==1.1.0
imageio==2.8.0
imgaug==0.4.0
streamlit==0.66.0
mecab-python3==1.0.1
unidic-lite==1.0.7
pygame==2.0.0.dev10
albumentations==0.5.0
tensorboard==2.4.1
fvcore==0.1.2.post20210115